* {
  box-sizing: border-box;
}
body {
  
  margin:0;
  background-color: black;

  
  
  
}

h1{
	text-align: center;
	font-size:1em;
	color:black;
	margin:0;
	padding:3px;
}
h2{
	text-align: center;
	font-size:25px;;
	color:white;
	margin:0;
  padding:3px;
  
}
h3{
    text-align: center;
    color:white;
}
h4{
  font-size:1.5em;
  text-align: center;
	color:black;
	margin:0;
	padding:3px;
}
/* Style the header */
header {
  background-color:rgb(71, 68, 68);
  /*rgb(9, 148, 248) */
  padding: 30px;
  height: 20%;
  margin:0;
  text-align: center;
  color: white;
  /*background-image: url("images/tim-goedhart-vnpTRdmtQ30-unsplash (1).png");*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  
  
}
/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 20%;
  height: 100%; /* only for demonstration, should be removed */
  background:black;
  padding: 20px;
  /*background-image: url("images/tim-goedhart-vnpTRdmtQ30-unsplash (4).png");*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding-left:10px;
  padding-right: 10px;
 
}

article {
  float: left;
  padding: 20px;
  width: 40%;
  background-color:black;
  color:white;
  text-align: justify;
  height: 100%; /* only for demonstration, should be removed */
}
article2 {
  float: left;
  padding: 20px;
  width: 40%;
  background-color:black;
  color:white;
  text-align: justify;
  height: 100%; /* only for demonstration, should be removed */
}
 
/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color:rgb(71, 68, 68);
  padding: 10px;
  text-align: left;
  color:black;
  height:100%;
  margin-right: 0;
  width:100%;
  
  	
}
a{
  color:black;
}
.circular--square {
    align-self: center;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  margin-left: 29%;
  height: 50%;
  width: 42%;
}


/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article, article2 {
    width: 100%;
    height: auto;
    align-self: center;
    margin:auto;
  }
  footer{
    width: 100%;
    height: auto;
  }
}
table{
  font-size: medium;
  align-self: center;
  height: 100%;
  width: 100%;
  margin: 1em;
  align-content: center;
  text-align: center;
  padding-right: 5%;
  padding-left: 4%;
 
 
}
a{
  text-decoration: none;
  color: rgb(20, 142, 194);
}
ol{
  color: rgb(20, 142, 194);
}
.about{
  text-align: justify;
  font-size: 15px;
  padding-right: 5%;
  
}
.joinus{
  padding-right: 5%;
  text-align: left;
  margin-right: 5%;
}
.Mydiv2{
  height:100%;
  width:100%;
  background-color: black;
}
.fdback{
  text-decoration: none;
  
  color:rgb(20, 142, 194);
  background-color:rgb(71, 68, 68) ;
  border: none;
  font-size: medium;
  text-align: left;
  padding-left: 0em;
  

}
/*Division for feedback data*/
#Feedbackdata{
  height:100%;
  width:100%;
  text-align: center;
  padding:10px;
 
  
  
}
/*Table for feedback data*/  

.feeddata{
 
  height: auto;
  width: auto;
  color:black;
  background-color: white;
  margin: auto;
  
  
}
h7{
  color: #008CBA;
  font-size: xx-large;
  font: outline;

}
p1{
  text-align: center;
  color: white;
}
/*Heading of feedback table.*/
.feedhead{
  color: black;
  font-weight: bolder;
}


/*FEEDBACK FORM STYLE*/
body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
* {box-sizing: border-box;}
h3{
  color:#008CBA;
}
input[type=text], select, textarea {
width: 100%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
}
input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  }

input[type=submit] {
background-color: #008CBA;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type=submit]:hover {
background-color: rgb(83, 203, 247);
}
input[type=button] {
background-color: #008CBA;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;

}

input[type=button]:hover {
background-color: rgb(83, 203, 247);
}


.container {
border-radius: 5px;
background-color:grey;
padding: 20px;


}
.rating {
display: inline-block;
position: relative;
height: 50px;
line-height: 50px;
font-size: 50px;
}
.icon{
  color: gold;
}
.rating label {
position: absolute;
top: 0;
left: 0;
height: 100%;
cursor: pointer;
}

.rating label:last-child {
position: static;
}

.rating label:nth-child(1) {
z-index: 5;
}

.rating label:nth-child(2) {
z-index: 4;
}

.rating label:nth-child(3) {
z-index: 3;
}

.rating label:nth-child(4) {
z-index: 2;
}

.rating label:nth-child(5) {
z-index: 1;
}

.rating label input {
position: absolute;
top: 0;
left: 0;
opacity: 0;
}

.rating label .icon {
float: left;
color: transparent;
}

.rating label:last-child .icon {
color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
color: #000;
text-shadow: 0 0 5px #09f;
}
 
 

